* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', 'monospace';
  color: #00FF40;
  background-color: black;
}
:root {
  /* primary */
  --green-light: #00FF40;
  --green-mid: #038F11;
  --green-dark: #013B00;

  /* grey */
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-700: #334155;
  --grey-900: #0f172a;

}